/* highlight */
.hightlight {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: column wrap;
  
  text-align: center;
  color: var(--white);

  z-index: 1;
  
}
.hightlight .hightlight__body {
  max-width: 800px;
  width: 100%;
  
  padding-top: 56px;
  padding-top: var(--section-spacing);
  padding-bottom: 56px;
  padding-bottom: var(--section-spacing);
  
  
  margin: 32px auto;
}
.hightlight .title {
  font-weight: bolder;
  font-size: 52px;

  margin-top: 32px;
}
.hightlight .text {
  font-weight: 200;
  font-size: 1.2em;
  line-height: 32px;

  margin-top: 46px;
}

@media(max-width: 1000px) {
  .hightlight {
    align-content: flex-start;
    justify-content: flex-start;
  }
  .hightlight .hightlight__body {
    max-width: 450px;
    width: 100%;
    
    text-align: start;
  }
}
@media(max-width: 760px) {
  .hightlight__body {
    position: relative;
    
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .hightlight .text {
    text-align: start;
  }
}



/* main */
.main {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}
